.skip{
    position:absolute;
    left: -1000px;
}
.skip:focus{
    left: 10px;
}

img{
    border:2px double #000000;
    padding: 10px;
    margin: 38px;
    width: 200px;
}
.index_image{
    border:2px double white;
    padding: 10px;
    margin: 38px;
    width: 200px;
}
img:hover{
    border: 2px solid #f82121cc
}


nav{
    display: grid;
    justify-content: center;
    background-color:  black;
}

nav li{
    padding: 10px;
    border: 2px solid #f82121cc ;
    font-weight: bold;
    background-color: black;
    margin: 25px;
    width: 100%;
    display: grid;
    border-radius: 30px;
}

 nav ul{
            display: block;
            /* justify-items:center;
            align-items: center; */
            /* height: 100px; */
            /* padding: 5px; */
        }

nav a{
    text-decoration: none;
    text-align: center;
    color: white;
}

.active{
    background-color: white;
    border: 2px solid #f82121cc ;
    border-radius: 0%;
    text-transform: uppercase;
}

.active_text{
    color: black;
}

h1{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding: 10px;
}

h2{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
footer{
    display: -webkit-inline-box;
    width: auto;
	padding: 10px;
	margin: 5px;
	border: 1px solid black;
}

#test .fa-solid{
    margin-right: 10px;
    color: #f82121cc ;
}

/* Checkpointmobile */
/* @media screen  and (max-width: 900px){  */


.fa-solid{
    color: black;

}

.index{
    display: grid;
    grid-row: auto;
    justify-content: center;
}

body{
    font-family: 'Roboto', serif;
    background-color: rgb(190, 190, 190);
    padding: 30px;
    
}

#index{
    background-image: url("../images/binge\ watching.jpg");
    background-size: 100% auto;
    backdrop-filter: brightness(0.5);
}

#contact{
    background-color: #A2FABB;
}

#series{
    background-color: #B9BFFA;
}

#sitcom{
    background-color: #F77474;
}
.index_h1{
    color: white;
}
.paragraph_1{
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}

.paragraph_2{
    color: black;
    margin-top: 30px;
    margin-bottom: 30px;
}
.images{
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: appear;
    animation-duration: 3s;
}

.images p{
    width: 200px;
    text-align: center;
}
/* } */
header{
    justify-content: center;
}


.index_footer{
    color: white;
    border-color: white;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid  black;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: green;
  }
  
  .container {
    border-radius: 5px;
    background-color: darkgray;
    padding: 20px;
    margin-top: 20px;
  }

@keyframes appear{
    from{opacity:0}
    to{opacity: 1;}
}


@media screen and (prefers-reduced-motion: reduce) {
    .images{
        animation: none;
    } 
}


/* Transition into tablet view of the website */


@media screen and (min-width: 800px) {
    nav li{
        padding: 10px;
        border: 2px solid #f82121cc ;
        font-weight: bold;
        background-color: black;
        margin: 25px;
        width: 100%;
        display: grid;
        border-radius: 30px;
    }
        nav{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color:  black;
            height: 100px;
            max-width: 100%;
        }

        nav ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100px;
            padding: 5px;
        }
        nav li{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        }

        .active{
            background-color: white;
            border-radius: 0%;
            border: 2px solid #f82121cc;
            text-transform: uppercase;
        }
        nav a{
            text-decoration: none;
            text-align: center;
            color: white;
        }
        .active_text{
            color: black;
        }

        h1{
            padding-top: 30px;
            padding-bottom: 30px;
        }

        #all_images_series{
            display: grid;
            grid-template-columns: auto auto auto;
        }

        #all_images_sitcoms{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

}

@media screen and (min-width: 1000px) {
    #all_images_series{
        display: grid;
        align-items: baseline;
        grid-template-columns: auto auto auto auto;
    }

    #all_images_sitcoms{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: baseline;
        overflow: scroll;
        border: solid 20px black;
        background-color: #FFC800;
    }
    
    .images{
        justify-content: end;
    }
    .images p {
        margin: 30px;
    }
}

