.skip{
    position:absolute;
    left: -1000px;
}
.skip:focus{
    left: 10px;
}

img{
    border:2px dashed #000000;
    padding: 10px;
    margin: 38px;
    width: 200px;
}
img:hover{
    border: 2px solid #f82121cc
}
nav li{
    padding: 10px;
    border: 2px solid #000000;
    font-weight: bold;
    background-color: #f82121cc;
    margin: 25px;
    width: 130px;
    display: inline-block;
    border-radius: 30px;
}

nav a{
    text-decoration: none;
    color: #000000;
}

.active{
    background-color: #eeff00;
    border-radius: 0%;
    text-transform: uppercase;
}

h1{
    font-weight: bold;
    font-size: 25px;
}

footer{
    width: 100px;
	padding: 10px;
	margin: 5px;
	border: 1px solid black;
}

/* Checkpointmobile */
/* @media screen  and (max-width: 900px){  */


.fa-solid{
    color: black;

}

.index{
    display: grid;
    grid-row: auto;
    justify-content: center;
}

body{
    font-family: 'Roboto', serif;
    background-color: white;
    padding: 30px;
    
}

#index{
    background-image: url("../images/binge\ watching.jpg") ;
    background-size: 100%;
}

.index_h1{
    color: white;
}
.paragraph_1{
    color: white;
}

#images{
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: appear;
    animation-duration: 3s;
}
/* } */
header{
    justify-content: center;
}
nav{
    display: grid;
    justify-content: center;
}
nav li{
    display:grid;
    grid-template-columns: 1fr;
    /* align-items: center; */
}

.index_footer{
    color: white;
    border-color: white;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid  black;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: green;
  }
  
  .container {
    border-radius: 5px;
    background-color: darkgray;
    padding: 20px;
    margin-top: 20px;
  }

@keyframes appear{
    from{opacity:0}
    to{opacity: 1;}
}


@media screen and (prefers-reduced-motion: reduce) {
    #images{
        animation: none;
    } 
}